
doctype 5
html
  head
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0')
    title Mobile Web Demo
    link(rel='stylesheet', href="reset.css")
    link(rel='stylesheet', href="device.css", media="(max-device-width: 7680px) and (max-device-height: 10240px)")
    link(rel='stylesheet', href="desktop.css", media="(min-device-width: 769px) and (min-device-height: 1025px)")
    link(rel='stylesheet', href="phone.css", media="(device-width: 320px) and (device-height: 480px)")
    link(rel='stylesheet', href="tablet.css", media="(device-width: 768px) and (device-height: 1024px)")
    link(rel='stylesheet', href="slideshow.css")
    link(rel='stylesheet', href="style.css")
    script(src="jojoa.js")
    script(src="slideshow.js")
    script(src="demo.js")
  body
    div.bundle.default

      include mainmenu

      include formfields

      include transitions
      
      include mediaquery

      include animations

      include touch

      include webstorage

      include onlineoffline

      include orientation

      include geolocation

    section.page#page
