section.view.form-fields("data-name"="form-fields")
  header
    hgroup
      h1 Form Fields
    nav.right
      div.button.done Done
  section.content.slides
    section.slide
      section.content
        ul
          li
            label Number
            input(type='number')
          li
            label URL
            input(type='url')
          li
            label e-Mail
            input(type='email')
    section.slide
      section.content
        ul
          li
            label Number
            input(type='number')
          li
            label URL
            input(type='url')
