section.view.form-fields("data-name"="form-fields")
  header
    hgroup
      h1 Form Fields
    nav.right
      div.button.done Done
  section.content
    section.slide-show
      section.slides
        section.slide.bullets
          h2 Bullets
          ul
            li Foo
            li Bar
            li Baz
        section.slide
          ul
            li
              label Number
              input(type='number')
            li
              label URL
              input(type='url')
            li
              label e-Mail
              input(type='email')
        section.slide
          h2 Slide 2
        section.slide
          h2 Slide 3
          pre.code
            | Foo
            | Bar
            | Baz
      ul.page-control

