section.view.form-fields("data-name"="form-fields")
  header
    hgroup
      h1 Form Fields
    nav.right
      div.button.done Done
  section.content
    section.slide-show
      section.slides

        section.slide
          h2 From the Specification
          p
            | The input element represents a typed data field,
            | usually with a form control to allow the user to edit the data.
      
        section.slide.demo
          h2 Demo
          ul
            li
              label Number
              input(type='number')
            li
              label URL
              input(type='url')
            li
              label e-Mail
              input(type='email')
      
        section.slide
          h2 Demo Code
          pre.code
            | <ul>
            |   <li>
            |     <label>Number</label><input type="number">
            |   </li>
            |   <li>
            |     <label>URL</label><input type="url">
            |   </li>
            |   <li>
            |     <label>e-Mail</label><input type="email">
            |   </li>
            | </ul>
      
      ul.page-control

