section.view.main("data-name"="main")
  header
    hgroup
      h1 Main Menu
  section.content

    div.item.button.media-query
      h4 Media Query

    div.item.button.present-foo

    div.item.button.form-fields
      h4 Form Fields

    div.item.button.touch
      h4 Touch Events

    div.item.button.web-storage
      h4 Web Storage

    div.item.button.xhr2
      h4 XHR2

    div.item.button.appcache
      h4 App Cache

    div.item.button.canvas
      h4 Canvas

    div.item.button.transitions.css
      h4 Transitions

    div.item.button.animations.css
      h4 Animations
