
section.view.onlineoffline("data-name"="onlineoffline")
  header
    hgroup
      h1 Online and Offline
    nav.right
      div.button.done Done
  section.content
    section.slide-show
      section.slides

        section.slide
          h2 Overview
          p 
            | In order to build a good offline-capable web application,
            | you need to know when your application is actually offline.
            | Incidentally, you also need to know when your application
            | has returned to an 'online' status again.

        section.slide.demo.online-property
          h2 onLine property
          ul
            li.check
              div.button Check Status
            li.output.status
              div

        section.slide
          h2 onLine property - Code
          pre.code
            | check.addEventListener('click', checkStatus, false);
            | function checkStatus() {
            |   if (navigator.onLine) {
            |     status.innerHTML = "Online";
            |   } else {
            |     status.innerHTML = "Offline";
            |   }
            | }

        section.slide.demo.online-offline-events
          h2 online and offline events
          ul
            li.output.status
              div 

        section.slide
          h2 online and offline events - Code
          pre.code
            | window.addEventListener('online', online, false);
            | function online() {
            |   status.innerHTML = "Online";
            | }
            | 
            | window.addEventListener('offline', offline, false);
            | function offline() {
            |   status.innerHTML = "Offline";
            | }

      ul.page-control