
section.view.onlineoffline("data-name"="onlineoffline")
  header
    hgroup
      h1 Online and Offline
    nav.right
      div.button.done Done
  section.content
    section.slide-show
      section.slides

        section.slide
          h2 Overview
          p 
            | In order to build a good offline-capable web application,
            | you need to know when your application is actually offline.
            | Incidentally, you also need to know when your application
            | has returned to an 'online' status again.

        section.slide.demo.local
          h2 onLine attribute
          ul
            li.check
              div.button Check Status
            li.status
              div

      ul.page-control