
section.view.orientation("data-name"="orientation")
  header
    hgroup
      h1 Device Orientation
    nav.right
      div.button.done Done
  section.content
    section.slide-show
      section.slides

        section.slide
          h2 Overview
          p 
            | This specification defines several new DOM events that provide
            | information about the physical orientation and motion of a hosting device.

        section.slide.demo.simple
          h2 Demo
          ul
            li.output.alpha
            li.output.beta
            li.output.gamma

        section.slide
          h2 Demo Code
          pre.code
            | window.addEventListener('deviceorientation',
            |                         orientation, false);
            | 
            | function orientation(e) {
            |   alpha.innerHTML = Math.round(e.alpha);
            |   beta.innerHTML = Math.round(e.beta);
            |   gamma.innerHTML = Math.round(e.gamma);
            | }

      ul.page-control