
section.view.touch("data-name"="touch")
  header
    hgroup
      h1 Touch Events
    nav.right
      div.button.done Done
  section.content
    section.slide-show
      section.slides

        section.slide
          h2 From the Specification
          p
            | The Touch Events specification defines a set of low-level events that
            | represent one or more points of contact with a touch-sensitive surface,
            | and changes of those points with respect to the surface and any DOM elements
            | displayed upon it (e.g. for touch screens) or associated with it
            | (e.g. for drawing tablets without displays).

        section.slide.demo
          div

        section.slide
          h2 Demo Code
          pre.code
            | slide.addEventListener('touchstart', function(e) {
            |   var sr = this.getBoundingClientRect();
            |   var mr = marker.getBoundingClientRect();
            |   var touch = e.touches[0];
            |   var x = touch.clientX - sr.left - mr.width / 2;
            |   var y = touch.clientY - sr.top - mr.height / 2;
            |   var t3d = "translate3d(" + x + "px," + y + "px, 0)";
            |   marker.style['transform'] = t3d; 
            | }, false);

        section.slide
          h2 From this application
          pre.code
            | viewport.addEventListener('touchstart', start, false);
            | viewport.addEventListener('touchend', end, false);
            | 
            | var clientX, clientY;
            | 
            | function start(e) {
            |   var touch = e.touches[0];
            |   clientX = touch.clientX;
            |   clientY = touch.clientY;
            | }

        section.slide
          h2 From this application - continued
          pre.code
            | function end(e) {
            |   var touch = e.changedTouches[0];
            |   var dx = touch.clientX - clientX;
            |   var dy = touch.clientY - clientY;
            |   if (Math.abs(dx) > Math.abs(dy)) {
            |     if (dx < 0) {
            |       left();    
            |     } else {
            |       right();    
            |     }
            |   }
            | }

      ul.page-control