
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#page {
  position: relative;
}

section.view {
  height: 100%;
  position: absolute;
  width: 100%;
}

section.page > section.view.appear {
  -webkit-animation: modal-appear 1s ease-in-out;
}

section.page > section.view.disappear {
  -webkit-animation: modal-disappear 1s ease-in-out;
  -webkit-transform: scale(0, 0);
}

section.navigation {
  display: -webkit-box;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
}

section.navigation > section.container {
  background-color: #909090;
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
}

section.navigation > section.container.push {
  -webkit-animation: navigation-push 0.6s;
}

section.navigation > section.container.pop {
  -webkit-animation: navigation-pop 0.6s;
}

section.navigation > section.container.push > section.view:last-child {
  -webkit-transform: translate3d(100%, 0, 0);
}

section.navigation > section.container.pop > section.view:last-child {
  -webkit-transform: translate3d(100%, 0, 0);
}

section.view > header {
  position: relative;
  width: 100%;
}

section.view > header nav.left {
  float: left;
}

section.view > header nav.right {
  float: right;
}

section.view > section.content {
  -webkit-box-sizing: border-box;
}

section.view:last-child > header {
  z-index: 100;
}

section.view:last-child section.navigation > header {
  z-index: 100;
}

div.bundle {
  display: none;
}

@-webkit-keyframes modal-appear {
  from {
    opacity: 0.0;
    -webkit-transform: scale(0.3, 0.3);
  }
  to {
    opacity: 1.0;
    -webkit-transform: scale(1.0, 1.0);
  }
}

@-webkit-keyframes modal-disappear {
  from {
    opacity: 1.0;
    -webkit-transform: scale(1.0, 1.0);
  }
  to {
    opacity: 0.0;
    -webkit-transform: scale(0.3, 0.3);
  }
}

@-webkit-keyframes navigation-push {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes navigation-pop {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
