
@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata.otf');
}

body {
  font-family: Helvetica;
  font-weight: normal;
}

#page h1 {
  font-size: 20px;
  padding: 12px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

#page button {
  padding: 8px 16px;
}

section.view {
  background-image: url(background.jpg);
}

section.view > section.content {
  padding: 20px;
}

section.view > header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13,204,255,1)), to(rgba(10,153,191,1)));
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px;
  color: white;
  font-weight: bold;
  text-align: center;
}

section.view > header > hgroup {
  display: inline-block;
  font-weight: bold;
}

section.view > header .button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10,153,191,1)), to(rgba(8,133,166,1)));
  border-radius: 5px;
  box-shadow: inset rgba(0, 0, 0, 0.4) 1px 1px 1px;
  font-size: 12px;
  margin: 6px 10px;
  padding: 10px 15px;
}

section.view > header .back-button:empty {
  display: none;
}

section.view.main > section.content {
}

section.view.main > section.content > div.item {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(220,220,220,1)));
  border-radius: 20px;
  display: inline-block;
  margin: 2%;
  padding: 2%;
  vertical-align: top;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
}

section.view.main > section.content > div.item h4 {
  color: #606060;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}


pre.code {
  font-family: Inconsolata;
  font-size: 2em;
  overflow: hidden;
}

@media (orientation: portrait) {

  section.view.main > section.content > div.item {
    width: 25%;
    height: 20%;
  }

  section.view > section.content {
    height: 95.703125%;
  }

  section.view > header {
    height: 4.296875%;
  }

}

@media (orientation: landscape) {

  section.view.main > section.content > div.item {
    width: 21%;
    height: 25%;
  }

  section.view > section.content {
    height: 94.1176471%;
  }

  section.view > header {
    height: 5.88235294%;
  }

}


section.view.media-query section.slide.demo {
  text-align: center;
}

section.view.media-query section.slide.demo div {
  background-color: rgba(13,204,255,1);
  display: inline-block;
}

@media (orientation: portrait) {
  section.view.media-query section.slide.demo div {
    height: 5%;
    width: 50%;
  }
}

@media (orientation: landscape) {
  section.view.media-query section.slide.demo div {
    height: 50%;
    width: 5%;
  }
}

section.view.transitions section.slide.demo {
  text-align: center;
}

section.view.transitions section.slide.demo div {
  background-color: rgba(8,133,166,1);
  display: inline-block;
  height: 20%;
  width: 20%;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, background-color;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

section.view.transitions section.slide.demo div.selected {
  background-color: rgba(13,204,255,1);
  -webkit-transform: translate3d(0, 150%, 0) scale3d(2, 2, 1);
}

section.view.animations section.slide.demo {
  text-align: center;
}

section.view.animations section.slide.demo div {
  background-color: rgba(200,200,200,1);
  display: inline-block;
  height: 20%;
  width: 20%;
  -webkit-transform: translate3d(0, 0, 0);
}

section.view.animations section.slide.demo div.selected {
  -webkit-animation-name: demo;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes demo {
  25% {
    -webkit-transform: translate3d(0, 150%, 0);
    background-color: rgba(150,150,150,1);
  }
  50% {
    -webkit-transform: translate3d(150%, 150%, 0);
    background-color: rgba(8,133,166,1);
  }
  to {
    -webkit-transform: translate3d(-150%, 150%, 0);
    background-color: rgba(13,204,255,1);
  }
}

section.view.touch > section.content > section.slide-show > section.slides > section.slide.demo {
  overflow: hidden;
  padding: 0;
}

section.view.touch section.slide.demo div {
  background-color: rgba(13,204,255,1);
  display: inline-block;
  height: 20%;
  width: 20%;
  -webkit-transform: translate3d(50px, 50px, 0);
  -webkit-transition-duration: 400ms;
}

section.view.webstorage > section.content > section.slide-show > section.slides > section.slide.demo {
  text-align: center;
}

section.view > section.content > section.slide-show > section.slides > section.slide.demo ul {
  display: inline-block;
  list-style-type: none;
}

section.view > section.content > section.slide-show > section.slides > section.slide.demo ul > li {
  text-align: center;
}

section.view > section.content > section.slide-show > section.slides > section.slide.demo ul > li + li {
  margin-top: 1.5em;
}

section.view > section.content > section.slide-show > section.slides > section.slide.demo ul > li > div.button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13,204,255,1)), to(rgba(10,153,191,1)));
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px;
  color: white;
  display: inline-block;
  padding: 0.5em 1em;
}

section.view > section.content > section.slide-show > section.slides > section.slide.demo ul > li.output {
  padding: 0.5em;
}

section.view.onlineoffline > section.content > section.slide-show > section.slides > section.slide.demo {
  text-align: center;
}
