
body {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: normal;
}

#page h1 {
  font-size: 20px;
  padding: 12px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

#page button {
  padding: 8px 16px;
}

section.view {
  background-image: url(background.jpg);
}

section.view > section.content {
  padding: 20px;
  height: 94.1176471%;
}

section.view > header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13,204,255,1)), to(rgba(10,153,191,1)));
  box-shadow: rgba(0, 0, 0, 0.4) 0 5px 5px;
  color: white;
  font-weight: bold;
  height: 5.88235294%;
  text-align: center;
}

section.view > header > hgroup {
  display: inline-block;
  font-weight: bold;
}

section.view > header .button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10,153,191,1)), to(rgba(8,133,166,1)));
  border-radius: 5px;
  box-shadow: inset rgba(0, 0, 0, 0.4) 1px 1px 1px;
  font-size: 12px;
  margin: 6px 10px;
  padding: 10px 15px;
}

section.view > header .back-button:empty {
  display: none;
}

section.view.main > section.content {
}

section.view.main > section.content > div.item {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(220,220,220,1)));
  border-radius: 20px;
  display: inline-block;
  margin: 2%;
  padding: 2%;
  vertical-align: top;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
}

section.view.main > section.content > div.item h4 {
  color: #606060;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

@media (orientation: portrait) {

  section.view.main > section.content > div.item {
    width: 25%;
    height: 20%;
  }

}

@media (orientation: landscape) {

  section.view.main > section.content > div.item {
    width: 21%;
    height: 25%;
  }

}

section.view > section.content > section.slide-show {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(220,220,220,1)));
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  padding: 2%;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
}

section.view > section.content > section.slide-show > section.slides {
  height: 100%;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 1s;
}

section.view > section.content > section.slide-show > section.slides > section.slide {
  display: inline-block;
  height: 100%;
  padding: 1%;
  vertical-align: top;
  width: 25%;
  -webkit-box-sizing: border-box;
}

section.view > section.content > section.slide-show > section.slides > section.slide > * + * {
  margin-top: 5%;
}


section.view > section.content > section.slide-show > section.slides > section.slide.bullets h2 {
  font-size: 3em;
  text-align: center;
}

section.view > section.content > section.slide-show > section.slides > section.slide.bullets ul {
  font-size: 2em;
  list-style-position: inside;
  list-style-type: disc;
}

section.view > section.content > section.slide-show > section.slides > section.slide.bullets ul > li + li {
  margin-top: 2%;
}